<!DOCTYPE html>
<html ng-app="calorieTrackerApp">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap-theme.css" />
</head>
<body>

    <div ui-view></div>

    <script src="~/Scripts/AngularJS/angular.js"></script>
    <script src="~/Scripts/AngularJS/angular-ui-router.js"></script>
    <script src="~/Scripts/angular-ui/ui-bootstrap.min.js"></script>
    <script src="~/Scripts/angular-ui/ui-bootstrap-tpls.js"></script>
    <script src='~/Scripts/AngularJS/angular-resource.js'></script>
    <script src="~/Scripts/directives.js"></script>
    <script src="~/Scripts/services.js"></script>

    <script src="~/Scripts/app.js"></script>

    <script src="~/Scripts/authHttpResponseInterceptor.js"></script>
    <script src="~/Scripts/calorie-tracker-controller.js"></script>
    <script src="~/Scripts/authentication-service.js"></script>
    <script src="~/Scripts/authentication-controller.js"></script>
    <script src="~/Scripts/login-controller.js"></script>
    <script src="~/Scripts/register-controller.js"></script>
    <script src="~/Scripts/log-service.js"></script>
    <script src="~/Scripts/log-a-meal-directive.js"></script>
    <script src="~/Scripts/log-exercise-directive.js"></script>
    <script src="~/Scripts/my-log-controller.js"></script>


</body>
</html>