
@{
    Layout = null;
}
<div class="nav navbar-nav navbar-right">
    <div class="btn-group" dropdown is-open="status.isopen">
        <button type="button" class="btn btn-info backgroundNavBarDropDown dropdown-toggle" dropdown-toggle ng-disabled="disabled">
            Button dropdown <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
            <li><a ng-href="/calorieTracker/myLog">My Log</a></li>
            @*@Html.ActionLink("Logout","Authentication", "Logout")*@
            <li><a ng-href="/calorieTracker/logout">Logout</a></li>
        </ul>
    </div>
</div>