
@{
    ViewBag.Title = "MyLog";
    ViewBag.Total = 1750;
}

<div class="row">
    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
   
    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
       <div class="row">
           <div class="col-lg-10 col-md-10 col-sm-9 col-xs-9">
               <h2>Remaining Calories: @ViewBag.Total</h2>
           </div>
         <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3">
             <div class="btn-toolbar pull-right">
                <log-a-meal-button class="btn-group"></log-a-meal-button>
                 <log-exercise-button class="btn-group"></log-exercise-button>
             </div>
         </div>

       </div>
         
        <div class="well">

        </div>
    </div>

    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
</div>


